<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/static/assets/images/favicon.png}" type="image/png}">
    <title>Home</title>

    <!--Begin  Page Level  CSS -->
    <link th:href="@{/static/assets/plugins/morris-chart/morris.css}" rel="stylesheet">
    <link th:href="@{/static/assets/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet"/>
    <!--End  Page Level  CSS -->
    <link th:href="@{/static/assets/css/icons.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/static/assets/css/responsive.css}" rel="stylesheet">

</head>

<body class="sticky-header">


<!--Start left side Menu-->
<div class="left-side sticky-left-side">

    <!--logo-->
    <div class="logo">
        <a><img th:src="@{/static/assets/images/logo.png}" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a><img th:src="@{/static/assets/images/logo-icon.png}" alt=""></a>
    </div>
    <!--logo-->

    <div class="left-side-inner">
        <!--Sidebar nav-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a><i class="icon-note"></i> <span>发布课程</span></a></li>
        </ul>
        <!--End sidebar nav-->

    </div>
</div>
<!--End left side menu-->


<!-- main content start-->
<div class="main-content">

    <!-- header section start-->
    <div class="header-section">

        <a class="toggle-btn"><i class="fa fa-bars"></i></a>

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li>
                    <a th:href="@{/static#}" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img th:src="@{/static/assets/images/users/avatar-6.jpg}" alt=""/>
                        管理员
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="/out"> <i class="fa fa-lock"></i> Logout </a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

    </div>
    <!-- header section end-->


    <!--body wrapper start-->
    <div class="wrapper">

        <!-- Start inbox widget-->
        <div class="col-md-12">
            <div class="white-box">
                <h2 class="header-title"> Projects </h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Project Name</th>
                            <th>Start Date</th>
                            <th>Deadline Date</th>
                            <th>Status</th>
                            <th>Progress</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Design new theme</td>
                            <td>10/10/2016</td>
                            <td>12/11/2016</td>
                            <td><span class="label label-warning">Pending</span></td>
                            <td>
                                <div class="progress progress-striped progress-sm">
                                    <div class="progress-bar progress-bar-warning" style="width: 25%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Website Redesign</td>
                            <td>10/10/2016</td>
                            <td>12/11/2016</td>
                            <td><span class="label label-success">In Progress</span></td>
                            <td>
                                <div class="progress progress-striped progress-sm">
                                    <div class="progress-bar progress-bar-success" style="width: 25%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mockup Design</td>
                            <td>10/10/2016</td>
                            <td>12/11/2016</td>
                            <td><span class="label label-warning">Pending</span></td>
                            <td>
                                <div class="progress progress-striped progress-sm">
                                    <div class="progress-bar progress-bar-primary" style="width: 25%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Admin Panel design</td>
                            <td>10/10/2016</td>
                            <td>12/11/2016</td>
                            <td><span class="label label-success">In Progress</span></td>
                            <td>
                                <div class="progress progress-striped progress-sm">
                                    <div class="progress-bar progress-bar-success" style="width: 25%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Front End Design</td>
                            <td>10/10/2016</td>
                            <td>12/11/2016</td>
                            <td><span class="label label-danger">On Hold</span></td>
                            <td>
                                <div class="progress progress-striped progress-sm">
                                    <div class="progress-bar progress-bar-danger" style="width: 25%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Software Testing</td>
                            <td>10/10/2016</td>
                            <td>12/11/2016</td>
                            <td><span class="label label-success">In Progress</span></td>
                            <td>
                                <div class="progress progress-striped progress-sm">
                                    <div class="progress-bar progress-bar-success" style="width: 25%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Admin Panel design</td>
                            <td>10/10/2016</td>
                            <td>12/11/2016</td>
                            <td><span class="label label-danger">On Hold</span></td>
                            <td>
                                <div class="progress progress-striped progress-sm">
                                    <div class="progress-bar progress-bar-danger" style="width: 25%;"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Website Redesign</td>
                            <td>10/10/2016</td>
                            <td>12/11/2016</td>
                            <td><span class="label label-warning">Pending</span></td>
                            <td>
                                <div class="progress progress-striped progress-sm">
                                    <div class="progress-bar progress-bar-warning" style="width: 25%;"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- Start inbox widget-->
    </div>
    <!--End row-->

</div>
<!-- End Wrapper-->

</div>
<!--End main content -->


<!--Begin core plugin -->
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/plugins/moment/moment.js}"></script>
<script th:src="@{/static/assets/js/jquery.slimscroll.js}"></script>
<script th:src="@{/static/assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{/static/assets/js/functions.js}"></script>
<!-- End core plugin -->

<!--Begin Page Level Plugin-->
<script th:src="@{/static/assets/plugins/morris-chart/morris.js}"></script>
<script th:src="@{/static/assets/plugins/morris-chart/raphael-min.js}"></script>
<script th:src="@{/static/assets/plugins/jquery-sparkline/jquery.charts-sparkline.js}"></script>
<script th:src="@{/static/assets/pages/dashboard.js}"></script>
<!--End Page Level Plugin-->


</body>

</html>
