<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{/static/assets/images/favicon.png}" type="image/png">
  <!-- BEGIN PAGE LEVEL STYLES -->
  <link th:href="@{/static/assets/plugins/jquery-toast/jquery.toast.min.css}" rel="stylesheet" type="text/css">
  <title>后台登录</title>
  <link th:href="@{/static/assets/css/icons.css}" rel="stylesheet">
  <link th:href="@{/static/assets/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/static/assets/css/style.css}" rel="stylesheet">
  <link th:href="@{/static/assets/css/responsive.css}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--  &lt;!&ndash;[if lt IE 9]>-->
<!--  <script th:src="@{/static/js/html5shiv.min.js"></script>-->
<!--  <script th:src="@{/static/js/respond.min.js"></script>-->
<!--  <![endif]&ndash;&gt;-->

</head>

<body class="sticky-header">


<!--Start login Section-->
<section class="login-section">
  <div class="container">
    <div class="row">
      <div class="login-wrapper">
        <div class="login-inner">

<!--          <div class="logo">-->
<!--            <img th:src="@{/static/assets/images/logo-dark.png}"  alt="logo"/>-->
<!--          </div>-->

          <h2 class="header-title text-center">后台登录</h2>

          <form id="form">
            <div class="form-group">
              <input type="text" class="form-control" id="adminUser" name="adminUser"  placeholder="Username" value="admin" >
            </div>

            <div class="form-group">
              <input type="password" class="form-control" id="adminPassword" name="adminPassword"  placeholder="Password" value="123123" >
            </div>

            <div class="form-group">
              <div class="pull-left">
                <div class="checkbox primary">
<!--                  <input  id="checkbox-2" type="checkbox">-->
<!--                  <label for="checkbox-2">Remember me</label>-->
                </div>
              </div>

              <div class="pull-right">
<!--                <a th:href="@{/static/reset-password.html}" class="a-link">-->
<!--                  <i class="fa fa-unlock-alt"></i> Forgot password?-->
<!--                </a>-->
              </div>
            </div>
            <div class="form-group">
              <input type="button" value="Login" onclick="saveLogin()" class="btn btn-primary btn-block" >
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</section>
<!--End login Section-->

<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  var contextPath = [[@{/}]];
  /*]]>*/
</script>
<!--Begin core plugin -->
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/plugins/moment/moment.js}"></script>
<script th:src="@{/static/assets/js/jquery.slimscroll.js}" type="text/javascript"></script>
<script th:src="@{/static/assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{/static/assets/js/functions.js}"></script>
<!-- End core plugin -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script th:src="@{/static/assets/plugins/jquery-toast/jquery.toast.min.js}"></script>
<script th:src="@{/static/assets/pages/notifications.js}"></script>
<script>
  $(function () {
    // notification-danger 失败  notification-success 成功
    // toastr('error','萨达是的阿萨德')
    // toastr('success', '')
    document.onkeydown = function(e){
      var ev = document.all ? window.event : e;
      // 如（ev.ctrlKey && ev.keyCode==13）为ctrl+Center 触发
      if(ev.keyCode==13) {
        saveLogin();
      }
    }

    setTimeout(function () {
      $('#adminUser').focus();
    }, 500)
  })

  function saveLogin() {
    var admin = getFormJson('#form');
    $.post( contextPath + 'save', admin, function(res){
      if (res.code == 1) {
        // 如果是IE浏览器的时候用location.href
        if (window.navigator.userAgent.indexOf("MSIE") >= 1) {
          window.location.href = contextPath + 'admin/index';
        } else {
          // 第二参数： '_self' 在当前窗口打开  第二参数不写或者为'_blank'都是打开新的窗口
          window.open(contextPath + 'admin/index', '_self');
        }
      } else {
        toastr('error',res.message == '' ? '登录失败' : res.message);
      }
    });
  }

  //获取表单数据  并返回json数据
  function getFormJson(frm) {
    var o = {};
    var a = $(frm).serializeArray();
    $.each(a, function () {
      if (o[this.name] !== undefined) {
        if (!o[this.name].push) {
          o[this.name] = [o[this.name]];
        }
        o[this.name].push(this.value || '');
      } else {
        o[this.name] = this.value || '';
      }
    });
    return o;
  }

  /**
   * 封装提示
   * @param type
   * @param message
   */
  function toastr(status, message) {
    $.toast().reset('all');
    $("body").removeAttr('class');
    $.toast({
      heading: status == 'success' ? '操作成功' : '操做失败',
      text: status == 'success' ? '' : message,
      position: 'top-right',
      loaderBg:'#FFBD4A',
      icon: status == 'success' ? 'success':'error',
      hideAfter: 3500,
      stack: 6
    });
  }
</script>
</body>

</html>
