<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../element-ui-2.13.0/lib/theme-chalk/index.css" />
    <script type="text/javascript" src="../../../../statics/system/vue/vue-v2.6.10.js"></script>
    <script type="text/javascript" src="../../element-ui-2.13.0/lib/index.js"></script>
    <script type="text/javascript" src="../../../../statics/system/vue/axios-0.18.0.js"></script>
    <style>
      .el-table_1_column_1 .cell {
        padding: 0px 14px !important;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <el-tag type="info" effect="dark" v-if="inputVisible" closable="true" :disable-transitions="disable" @close="handleClose">课程管理</el-tag>
      <div v-if="inputVisible">
        <template>
          <el-table :data="tableData" @selection-change="handleSelectionChange" size="medium" highlight-current-row="true" style="width: 100%">
            <el-table-column type="selection" width="55" prop="cid"> </el-table-column>
            <el-table-column width="100px" label="序号" type="index" align="center"> </el-table-column>
            <el-table-column label="课程名称" prop="courseName" align="center"> </el-table-column>
            <el-table-column label="课程类型" prop="courseType" align="center">
              <template slot-scope="{row}">
                <span v-if="row.courseType==1">Java</span>
                <span v-if="row.courseType==2">数据库</span>
                <span v-if="row.courseType==3">前端</span>
              </template>
            </el-table-column>
            <el-table-column label="课程价格" prop="coursePrice" align="center"> </el-table-column>
            <el-table-column label="状态" align="center">
              <template slot-scope="{row}">
                <el-tag v-if="row.status==0">未上架</el-tag>
                <el-tag v-if="row.status==1" type="success">上架</el-tag>
                <el-tag v-if="row.status==2" type="danger">下架</el-tag>
              </template>
            </el-table-column>
            <el-table-column label="操作" align="center">
              <template slot-scope="scope">
                <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                <el-button size="mini" type="danger" @click="handleLook(scope.$index, scope.row)">详情 </el-button>
              </template>
            </el-table-column>
            <el-table-column align="left" width="200px">
              <template slot="header" slot-scope="scope">
                <el-input v-model="search" @blur="findAll('search')" size="mini" placeholder="输入课程名称搜索" />
              </template>
            </el-table-column>
          </el-table>
        </template>
        <br />
        <el-row>
          <el-button type="warning" @click="delAll()">删除选中</el-button>
          <el-button type="primary">
            <a href="addCourse.html" target="main" style="text-decoration: none; color: white">上传课程</a>
          </el-button>
        </el-row>
        <template>
          <div class="block" align="right">
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-sizes="[3, 5, 6,10]"
              :page-size="pageSize"
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
          </div>
        </template>
      </div>

      <!--修改课程-->
      <el-dialog title="收货地址" :visible.sync="dialogFormVisible1" :close-on-click-modal="false">
        <!--表单-->
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
          <el-form-item label="课程名称" prop="courseName">
            <el-input v-model="ruleForm.courseName" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="课程简介" prop="descs">
            <el-input v-model="ruleForm.descs" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="课程类型" prop="courseType">
            <el-select v-model="ruleForm.courseType" placeholder="请选择课程类型">
              <el-option label="JavaEE" :value="1"></el-option>
              <el-option label="数据库" :value="2"></el-option>
              <el-option label="前端技术" :value="3"></el-option>
            </el-select>
          </el-form-item>
          <!--上传-->
          <el-upload
            style="margin-left: 25px"
            :on-remove="handleRemove"
            :on-exceed="handleExceed"
            :http-request="myUpload"
            class="upload-demo"
            ref="upload1"
            action="http://localhost/education/courses?method=uploadFile"
            :limit="1"
            :auto-upload="false"
          >
            <el-button slot="trigger" size="small" type="primary">选取图片</el-button>
            <el-button style="margin-left: 10px" size="small" type="success" @click="submitUpload(1)">上传到服务器 </el-button>
          </el-upload>
          <img :src="dialogImageUrl" style="width: 100px; height: 100px; margin-left: 25px" alt="" />

          <el-upload
            style="margin-left: 25px"
            :on-remove="handleRemove"
            :on-exceed="handleExceed"
            :http-request="myUpload"
            class="upload-demo"
            ref="upload2"
            action="http://localhost/education/courses?method=uploadFile"
            :limit="1"
            :auto-upload="false"
          >
            <el-button slot="trigger" size="small" type="primary">选取视频</el-button>
            <el-button style="margin-left: 10px" size="small" type="success" @click="submitUpload(2)">上传到服务器 </el-button>
          </el-upload>

          <video controls autoplay muted="muted" style="width: 100px; height: 100px; margin-left: 25px; margin-top: 5px" :src="dialogVedioUrl"></video>
          <el-form-item label="课程价格" prop="coursePrice">
            <el-input v-model="ruleForm.coursePrice" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="状态" prop="status">
            <el-radio-group v-model="ruleForm.status">
              <el-radio :label="0">未上架</el-radio>
              <el-radio :label="1">上架</el-radio>
              <el-radio :label="2">下架</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible1 = false">取 消</el-button>
          <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
        </div>
      </el-dialog>
      <!--结尾-->

      <!--查看课程-->
      <el-dialog title="查看课程" :visible.sync="dialogFormVisible2">
        <el-form ref="ruleForm" :model="ruleForm" label-width="80px" disabled>
          <el-form-item label="课程名称">
            <el-input v-model="ruleForm.courseName" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="课程简介">
            <el-input v-model="ruleForm.descs" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="课程类型">
            <el-select v-model="ruleForm.courseType" placeholder="请选择课程类型">
              <el-option label="JavaEE" :value="1"></el-option>
              <el-option label="数据库" :value="2"></el-option>
              <el-option label="前端技术" :value="3"></el-option>
            </el-select>
          </el-form-item>

          <img :src="dialogImageUrl" style="width: 100px; height: 100px; margin-left: 25px" alt="" />

          <video controls autoplay muted="muted" style="width: 100px; height: 100px; margin-left: 25px; margin-top: 5px" :src="dialogVedioUrl"></video>
          <el-form-item label="课程价格">
            <el-input v-model="ruleForm.coursePrice" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="状态">
            <el-radio-group v-model="ruleForm.status">
              <el-radio :label="0">未上架</el-radio>
              <el-radio :label="1">上架</el-radio>
              <el-radio :label="2">下架</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-form>
      </el-dialog>
      <!--结尾-->
    </div>
  </body>
  <script>
    axios.defaults.withCredentials = true
    new Vue({
      el: '#app',
      data: {
        /*表格数据*/
        tableData: [],
        /*条件查询关键字*/
        search: '',
        //批量删除存放选中的复选框
        multipleSelection: [],
        //存放删除的数据
        delarr: [],
        //当前页
        currentPage: 1,
        //每页显示条数
        pageSize: 6,
        //总条数
        totalCount: '',
        //总页数
        totalPage: '',
        //修改的对话框
        dialogFormVisible1: false,
        //详情的对话框
        dialogFormVisible2: false,
        /*文件上传*/
        dialogImageUrl: '',
        dialogVedioUrl: '',
        //表单字段
        ruleForm: {
          cid: '',
          courseName: '',
          descs: '',
          courseType: '',
          coursePrice: '',
          courseImage: '',
          courseVideo: ''
        },
        /*校验规则*/
        rules: {
          courseName: [
            {
              required: true,
              message: '请输入课程名称',
              trigger: 'blur'
            }
          ],
          descs: [
            {
              required: true,
              message: '请选择课程简介',
              trigger: 'blur'
            }
          ],
          courseType: [
            {
              required: true,
              message: '请选择课程类型',
              trigger: 'change'
            }
          ],
          coursePrice: [
            {
              required: true,
              message: '请输入课程价格',
              trigger: 'blur'
            }
          ],
          status: [
            {
              required: true,
              message: '请至少选择一个状态',
              trigger: 'change'
            }
          ]
        },
        /*选项卡*/
        inputVisible: true,
        disable: false
      },
      methods: {
        handleClose() {},

        handleEdit(index, row) {},

        handleExceed(files, fileList) {},

        submitUpload(value) {},

        handleRemove(file, fileList) {},

        myUpload(content) {},

        submitForm(formName) {},

        handleLook(index, row) {
          this.dialogFormVisible2 = true
          this.ruleForm = row
        },

        handleSelectionChange(val) {
          this.delarr = val
        },

        delAll() {
          this.$confirm(`您确定要删除吗?`)
            .then(resp => {
              //拿到被选中数据的主键   这些数据都在那里?  data中的delarr里面
              var cids = ''
              //遍历delarr
              for (var i = 0; i < this.delarr.length; i++) {
                cids += ',' + this.delarr[i].cid
              }
              if (cids == '') {
                //没有选择数据
                //给提示消息
                this.$message.warning(`你得先选课程啊，兄弟！`)
              } else {
                //将cids前面的逗号去掉  ,1,2,3
                cids = cids.substring(1)
                //发送请求
                axios
                  .post(`http://localhost:8080/maven_test/courseServlet?mark=delAll&cids=${cids}`)
                  .then(resp => {
                    if (resp.data.code == 200) {
                      this.$message.success(resp.data.message)
                      //一秒过后刷新页面
                      setTimeout(() => {
                        //刷新页面
                        location.reload()
                      }, 1000)
                    } else {
                      this.$message.error(resp.data.message)
                    }
                  })
                  .catch(_ => {
                    //给提示消息
                    this.$message.error(`出现异常`)
                  })
              }
            })
            .catch(_ => {
              //给提示消息
              this.$message.warning(`您已取消批量删除`)
            })
        },

        //条数改变
        handleSizeChange: function (size) {
          //将改变的条数赋值给data中的pageSize
          this.pageSize = size
          this.currentPage = 1
          //调用分页查询的方法
          this.findAll()
        },
        //当前页改变
        handleCurrentChange: function (currentPage) {
          //将改变的当前页赋值给data中的当前页
          this.currentPage = currentPage
          //调用分页查询的方法
          this.findAll()
        },

        handleRemove(file, fileList) {},

        handlePreview(file) {},

        handleExceed(files, fileList) {
          this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`)
        },

        //分页模糊查询方法
        findAll(obj) {
          if (obj == 'search') {
            this.currentPage = 1
          }
          //axios发送请求 携带mark currentPage pageSize search
          var params = new URLSearchParams()
          params.append('mark', 'findAll')
          params.append('currentPage', this.currentPage)
          params.append('pageSize', this.pageSize)
          params.append('search', this.search)
          axios({
            //请求的方式是post
            method: 'post',
            //请求的地址
            url: 'http://localhost:8080/maven_test/courseServlet',
            //携带的参数
            params: params,
            responseType: 'json'
          })
            .then(resp => {
              if (resp.data.code == 200) {
                //分页查询成功
                //1、将数据赋值给data中的tableData  页面就能显示数据
                this.tableData = resp.data.data.courseList
                //2、将分页的参数赋值给data中的参数
                this.totalCount = resp.data.data.totalSize
                this.totalPage = resp.data.data.totalPage
              } else {
                this.$message.error(`查询课程失败`)
              }
            })
            .catch(_ => {
              //出现异常执行的回调函数
              this.$message.error(`代码写的有问题，报错了`)
            })
        }
      },

      //创建vue的钩子函数
      created() {
        this.findAll()
      }
    })
  </script>
</html>
