<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../element-ui-2.13.0/lib/theme-chalk/index.css" />
    <script type="text/javascript" src="../../../../statics/system/vue/vue-v2.6.10.js"></script>
    <script type="text/javascript" src="../../element-ui-2.13.0/lib/index.js"></script>
    <script type="text/javascript" src="../../../../statics/system/vue/axios-0.18.0.js"></script>
    <style>
      .el-table_1_column_1 .cell {
        padding: 0px 14px !important;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <el-tag type="info" effect="dark" v-if="inputVisible" closable="true" :disable-transitions="disable" @close="handleClose">用户管理</el-tag>
      <div v-if="inputVisible">
        <template>
          <el-table :data="tableData" @selection-change="handleSelectionChange" size="medium" highlight-current-row="true" style="width: 100%">
            <el-table-column type="selection" width="55" prop="uid"> </el-table-column>
            <el-table-column width="100px" label="序号" type="index" align="center"> </el-table-column>
            <el-table-column label="用户账号" prop="username" align="center"> </el-table-column>
            <el-table-column label="真实姓名" prop="name" align="center"> </el-table-column>
            <el-table-column label="角色" prop="role" align="center">
              <template slot-scope="{row}">
                <span v-if="row.role==1">管理员</span>
                <span v-if="row.role==2">总经理</span>
                <span v-if="row.role==3">员工</span>
              </template>
            </el-table-column>
            <el-table-column label="操作" align="center">
              <template slot-scope="scope">
                <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                <el-button size="mini" type="danger" @click="handlelook(scope.$index, scope.row)">详情 </el-button>
              </template>
            </el-table-column>
            <el-table-column align="left" width="200px" align="center">
              <template slot="header" slot-scope="scope">
                <el-input v-model="search" size="mini" @blur="findByPage('search')" placeholder="输入用户名称搜索" />
              </template>
            </el-table-column>
          </el-table>
        </template>
        <br />
        <el-row>
          <el-button type="warning" @click="delAll()">删除选中</el-button>
          <el-button type="primary"><a href="addUser.html" target="main" style="text-decoration: none; color: white">添加用户</a></el-button>
        </el-row>
        <template>
          <div class="block" align="right">
            <el-pagination
              @size-change="handleSizeChange"
              :slot="tableData"
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-sizes="[3, 5, 6,10]"
              :page-size="pageSize"
              layout="total, sizes, prev, pager, next, jumper, slot"
              :total="totalCount"
            >
            </el-pagination>
          </div>
        </template>
      </div>

      <!-- 	修改 -->
      <el-dialog title="修改用户" :visible.sync="dialogVisible" :close-on-click-modal="false" width="30%">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
          <el-form-item label="登录名" prop="username">
            <el-input v-model="ruleForm.username" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="密码" prop="password">
            <el-input type="password" v-model="ruleForm.password" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="真实姓名" prop="name">
            <el-input v-model="ruleForm.name" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="手机号码" prop="phone">
            <el-input v-model="ruleForm.phone" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="年龄" prop="age">
            <el-input v-model.number="ruleForm.age" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="性別" prop="sex">
            <el-radio-group v-model="ruleForm.sex">
              <el-radio :label="0">男</el-radio>
              <el-radio :label="1">女</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="状态" prop="status">
            <el-radio-group v-model="ruleForm.status">
              <el-radio :label="1">启用</el-radio>
              <el-radio :label="2">禁用</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="角色" prop="role">
            <el-select v-model="ruleForm.role" placeholder="请选择活动区域">
              <el-option label="管理员" :value="1"></el-option>
              <el-option label="总经理" :value="2"></el-option>
              <el-option label="用户" :value="3"></el-option>
            </el-select>
          </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
        </span>
      </el-dialog>

      <!-- 详情 -->
      <el-dialog title="用户信息" :visible.sync="dialogVisible1" :close-on-click-modal="false" width="30%">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" disabled>
          <el-form-item label="登录名" prop="username">
            <el-input v-model="ruleForm.username" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="密码" prop="password">
            <el-input type="password" v-model="ruleForm.password" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="真实姓名" prop="name">
            <el-input v-model="ruleForm.name" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="手机号码" prop="phone">
            <el-input v-model="ruleForm.phone" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="年龄" prop="age">
            <el-input v-model.number="ruleForm.age" style="width: 210px"></el-input>
          </el-form-item>
          <el-form-item label="性別" prop="sex">
            <el-radio-group v-model="ruleForm.sex">
              <el-radio :label="0">男</el-radio>
              <el-radio :label="1">女</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="状态" prop="status">
            <el-radio-group v-model="ruleForm.status">
              <el-radio :label="1">启用</el-radio>
              <el-radio :label="2">禁用</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="角色" prop="role">
            <el-select v-model="ruleForm.role" placeholder="请选择活动区域">
              <el-option label="管理员" :value="1"></el-option>
              <el-option label="总经理" :value="2"></el-option>
              <el-option label="用户" :value="3"></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="创建时间">
            <el-col>
              <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.createtime" style="width: 215px"> </el-date-picker>
            </el-col>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>
  </body>
  <script>
    axios.defaults.withCredentials = true
    new Vue({
      el: '#app',
      data: {
        /*分页相关*/
        tableData: [], //当前页要展示的分页列表数据
        search: '', //查询条件
        pageSize: 6, //每页显示的记录数
        currentPage: 1, //当前页码
        totalCount: '', //总记录数
        /*批量删除*/
        multipleSelection: [], //批量删除存放选中的复选框
        delarr: [], //存放删除的数据
        /*选项卡*/
        inputVisible: true,
        disable: false,
        /* 对话框 */
        dialogVisible: false,
        dialogVisible1: false,
        ruleForm: {
          uid: '',
          username: '',
          password: '',
          name: '',
          phone: '',
          status: '',
          role: '',
          age: '',
          sex: '',
          createtime: ''
        },
        rules: {
          username: [
            { required: true, message: '请输入用户名称', trigger: 'blur' },
            { min: 3, max: 11, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          ],
          role: [{ required: true, message: '请选择角色', trigger: 'change' }],
          name: [{ required: true, message: '请输入真实姓名', trigger: 'blur' }],
          phone: [
            {
              required: true,
              message: '请输入手机号码',
              trigger: 'blur'
            },
            {
              validator: function (rule, value, callback) {
                if (/^1[34578]\d{9}$/.test(value) == false) {
                  callback(new Error('请输入正确的手机号'))
                } else {
                  callback()
                }
              },
              trigger: 'blur'
            }
          ],
          password: [
            {
              required: true,
              message: '请输入密码',
              trigger: 'blur'
            },
            {
              min: 6,
              max: 30,
              message: '长度在 6 到 30 个字符'
            },
            {
              pattern: /^(\w){6,20}$/,
              message: '只能输入6-20个字母、数字、下划线'
            }
          ],
          status: [{ required: true, message: '请选择状态', trigger: 'change' }],
          sex: [{ required: true, message: '请选择性別', trigger: 'change' }],
          age: [
            { required: true, message: '年龄不能为空', trigger: 'blur' },
            {
              validator: function (rule, value, callback) {
                if (!Number.isInteger(value)) {
                  callback(new Error('请输入数字值'))
                } else {
                  if (value < 18) {
                    callback(new Error('必须年满18岁'))
                  } else {
                    callback()
                  }
                }
              },
              trigger: 'blur'
            }
          ],
          createtime: [{ type: 'date', required: true, message: '请选择日期', trigger: 'change' }]
        }
      },
      methods: {
        handleClose() {},

        handleEdit(index, row) {
          this.dialogVisible = true
          this.ruleForm = row
        },

        handlelook(index, row) {
          this.dialogVisible1 = true
          this.ruleForm = row
        },
        handleSelectionChange(val) {
          console.log(val)
          this.delarr = val
        },

        delAll() {
          console.log(12312)
          console.log(this.delarr)
          //把被选中的数据的uid拼接成 1,2,3这种格式传递到后台
          //确认框  点击确认走.then  点击取消走 .catch
          this.$confirm(`您确定要删除吗?`)
            .then(resp => {
              //确认想删除
              //拿到被选中的数据的uid   uid在delarr中
              var uids = ''
              for (var i = 0; i < this.delarr.length; i++) {
                uids += ',' + this.delarr[i].uid
              }

              //判断用户是否选择了数据
              if (uids == '') {
                this.$message.error(`别xjb乱点`)
                return
              } else {
                //说明前台是真的想删除  ,1,2,3
                //将uids前面的逗号去掉
                uids = uids.substring(1) //从索引1截取到最后
                //uids  1,2,3
                //发送请求到后台

                var params = new URLSearchParams()
                params.append('mark', 'delAll') //批量方法
                params.append('uids', uids)

                axios({
                  //请求的方式是post
                  method: 'post',
                  //请求的地址
                  url: 'http://localhost:8080/maven_test/userServlet',
                  //携带的参数
                  params: params,
                  responseType: 'json'
                })
                  .then(resp => {
                    if (resp.data.code == 200) {
                      this.$message.success(resp.data.message)
                      setTimeout(() => {
                        //刷新页面
                        location.reload()
                      }, 1000)
                    } else {
                      this.$message.error(resp.data.message)
                    }
                  })
                  .catch(_ => {
                    //出现异常执行的回调函数
                    this.$message.error(`批量删除网络出错，请检查您的网络`)
                  })
              }
            })
            .catch(_ => {
              this.$message.warning(`您已取消`)
            })
        },

        handleSizeChange: function (size) {
          console.log(size)
          this.pageSize = size
          this.findByPage()
        },

        handleCurrentChange: function (currentPage) {
          this.currentPage = currentPage
          this.findByPage()
        },

        submitForm(formName) {
          //表单验证
          this.$refs[formName].validate(valid => {
            if (valid) {
              //表单验证成功
              var params = new URLSearchParams()
              //携带参数   参数都在data中的ruleForm中
              for (var key in this.ruleForm) {
                //ruleForm里面有创建时间，后台不需要创建时间
                if (key != 'createtime') {
                  params.append(key, this.ruleForm[key])
                }
              }
              //携带mark
              params.append('mark', 'updateUser')
              axios({
                method: 'post',
                url: `http://localhost:8080/maven_test/userServlet`,
                data: params,
                responseType: 'json'
              })
                .then(resp => {
                  if (resp.data.code == 200) {
                    //修改成功
                    //刷新页面
                    location.reload()
                  } else {
                    //修改失败
                    this.$message.error(resp.data.message)
                  }
                })
                .catch(_ => {
                  this.$message.error(`更新用户信息出现了异常`)
                })
            } else {
              //表单验证失败
              this.$message.warning(`修改表单验证失败`)
            }
          })
        },

        resetForm(formName) {},
        // 查询所有用户信息
        // queryAllUser() {
        //   //携带参数  mark用来匹配后台对应的方法
        //   var params = new URLSearchParams()
        //   params.append('mark', 'queryAllUser')
        //   axios({
        //     //请求的方式是post
        //     method: 'post',
        //     //请求的地址
        //     url: 'http://localhost:8080/maven_test/userServlet',
        //     //携带的参数
        //     data: params,
        //     responseType: 'json'
        //   })
        //     .then(resp => {
        //       //查询成功 resp.data代表返回的vo
        //       if (resp.data.code == 200) {
        //         //将所有用户信息赋值给data中的tableData，只需要赋值即可，页面自动帮我们显示数据
        //         this.tableData = resp.data.data
        //       } else {
        //         this.$message.error(resp.data.message)
        //       }
        //     })
        //     .catch(_ => {
        //       //出现异常执行的回调函数
        //       this.$message.error(`查询所有用户信息出现了异常`)
        //     })
        // }
        //分页查询的方法
        findByPage(obj) {
          //发送请求  携带哪些参数
          /*
    	携带mark  用来匹配方法
    	每页显示的条数  pageSize
    	当前页   currentPage
    */
          if (obj == 'search') {
            //将当前页设置为1
            this.currentPage = 1
          }
          console.log('失去焦点')
          console.log(this.search)
          var params = new URLSearchParams()
          params.append('mark', 'findByPage')
          params.append('pageSize', this.pageSize)
          params.append('currentPage', this.currentPage)
          //携带模糊搜索的条件
          params.append('search', this.search)

          axios({
            //请求的方式是post
            method: 'post',
            //请求的地址
            url: 'http://localhost:8080/maven_test/userServlet',
            //携带的参数
            params: params,
            responseType: 'json'
          })
            .then(resp => {
              //resp.data代表的是vo
              //resp.data.data代表的是pt
              //resp.data.data.userList代表的就是用户信息
              if (resp.data.code == 200) {
                //查询成功了
                //将用户信息赋值给data中的tableData
                this.tableData = resp.data.data.userList
                //赋值总条数
                this.totalCount = resp.data.data.totalSize
              }
            })
            .catch(_ => {
              //出现异常执行的回调函数
              this.$message.error(`分页查询网络出错，请检查您的网络`)
            })
        }
      },
      created() {
        // this.queryAllUser()
        this.findByPage()
      }
    })
  </script>
</html>
